body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho{
    background-color: #010101;
    border-radius: 40px;
}
.LogoImg{
    width: 5%;
}
.LogoImg2{
    width: 5%;
    display: flex;
    align-self: start;
    justify-content: flex-end;
    margin: -50px 40px;
}   
.Informações{
    background-color: #010101;
    color: white;
    border-radius: 20px;
    display: flex;
    margin: 55px 0;
}
.Informações-div{
    width: 60%;
    margin: 0 25px;
}
.img{
    margin: 50px 120px;
    width: 17%;
    
}
.icon-img{
    border-radius: 20px;
}
.falajoker{
    padding: 10px 0;
}
.perfil{
    position:absolute;
    background-color: #DE0808;
    color: white;
    border-radius: 20px;
    padding: 5px 90px;
    margin: -257px 957px;
    display: flex;
}
.perfil-info{
    margin: 5px auto;
}
.biografia-texto{
   width: 75%;
}