body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho{
    background-color: #010101;
    border-radius: 40px;
}
.LogoImg{
    width: 5%;
}
.LogoImg2{
    width: 5%;
    display: flex;
    align-self: start;
    justify-content: flex-end;
    margin: -50px 40px;
}   
.Informações{
    background-color: #010101;
    color: white;
    border-radius: 20px;
    display: flex;
    margin: 55px 0;
}
.Informações-div{
    width: 60%;
    margin: 0 25px;
}
.img-cima{
    margin: 50px 120px;
    width: 17%;
    
}
.icon-img{
    border-radius: 20px;
}
.ren-img{
    width: 65%;
    margin: -230px -510px;
    border-radius: 20px;
}

.falajoker{
    padding: 10px 0;
}

.perfil-info{
    position:absolute;
    background-color: #DE0808;
    color: white;
    border-radius: 20px;
    padding: 5px 90px;
    margin: 265px 921px;
    display: flex;
}
.perfil-info2{
    position:absolute;
    background-color: #DE0808;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    width: 17%;
    font-size: 150%;
    margin: 330px 921px;
    display: flex;
}

.biografia-texto{
   width: 80%;
}
.biografia-texto2{
    margin: -15px 0;
}
.aparencia-texto{
    width: 80%;
}